/*ATRIBUTOS GLOBALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

p {
    font-size: 1.2rem;
    color: #372513;
}


/*ATRIBUTOS CAJA PRINCIPAL*/

body {
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    /*FLEX*/
    display: flex;
    flex-flow: row wrap;
}


/*ATRIBUTOS CABECERA*/

header {
    /*border: 1px solid black;*/
    width: 100%;
    background-color: #F4AC3F;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    /*FLEX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.logo {
    /*border: 1px solid black;*/
    margin-left: 30px;
}

.logo img {
    /*border: 1px solid black;*/
    width: 120px;
}

.logo img:hover {
    animation-name: heartbeat;
    animation-duration: 2s;
}

header nav {
    /*border: 1px solid black;*/
    width: 60%;
    /*FLEX*/
    display: flex;
    flex-flow: row wrap;
}

header nav a {
    /*border: 1px solid black;*/
    color: #372513;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

header nav a:hover {
    color: white;
}


/*ATRIBUTOS BANNER*/

.principal-image {
    /*border: 1px solid white;*/
    background-color: #935B3E;
    width: 100%;
    position: relative;
    /*FLEX*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-image img {
    width: 100%;
    opacity: 0.7;
}

.image-text {
    text-align: center;
    position: absolute;
}

.image-text h1 p {
    /*border: 1px solid black;*/
    padding: 10px;
}

.image-text h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 20px;
}

.image-text p {
    font-size: 2rem;
    color: white;
}


/*ATRIBUTOS DEL CUERPO*/

main {
    width: 100%;
    /*FLEX*/
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}


/*ATRIBUTOS DEL TITULO DEL BANNER*/

main h1 {
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px;
}

.aviso {
    width: 100%;
    padding: 5px;
    margin: 20px 0 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #935B3E;
}

.aviso p {
    color: white;
}

.fas fa-shield-virus {
    color: white;
}


/*ESTRUCTURA INICIO*/

.content {
    width: 100%;
    padding: 20px 0px 20px;
    margin: 0 20px 0;
    border-bottom: 5px dotted #935B3E;
    /*FLEX*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    text-align: justify;
}

main div.content:nth-last-child(1) {
    border-bottom: none;
}

#Kentuchy-text {
    width: 50%;
}

.content p {
    height: 100%;
    margin: 30px;
}


/*ESTRUCTURA REGULAR*/

.content-regular {
    width: 100%;
    padding: 20px 0px 20px;
    margin: 0 20px 0;
    border-bottom: 5px dotted #935B3E;
    /*FLEX*/
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

main div.content-regular:nth-last-child(1) {
    border-bottom: none;
}

.content-regular h2 {
    width: 80%;
    padding: 5px;
    margin: 10px;
    background-color: #935B3E;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
}

.content-regular .text {
    margin: 10px;
    padding: 20px;
}


/*MENU*/

.content-regular ul {
    list-style-position: inside;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.productos li {
    border: 1px solid #935B3E;
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #935B3E;
    list-style-type: none;
}


/*FRANQUICIAS*/

.form {
    width: 100%;
    padding: 10px;
    /*FLEX*/
    display: flex;
    flex-flow: column wrap;
}

.buttoms {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"],
[type="email"],
[type="textarea"] {
    width: 40%;
    margin: auto;
    padding: 15px;
    outline: none;
    border: 3px solid #935B3E;
}

input[type]:focus {
    border: 3px solid #F4AC3F;
}

input[type="textarea"] {
    padding: 0 15px 15px 15px;
    height: 8rem;
}

input[type="reset"],
[type="submit"] {
    width: 15%;
    margin: 10px;
    padding: 5px;
    outline: none;
    border: 1px solid #935B3E;
    border-radius: 10px;
}

input[type="reset"]:hover {
    background-color: #f37373;
    color: white;
}

input[type="submit"]:hover {
    background-color: #61b361;
    color: white;
}


/*ESTRUCTURA LOCALES*/

.column-locales {
    width: 100%;
    margin: 20px 10px 20px;
    /*FLEX*/
    display: flex;
    flex-flow: row nowrap;
}

.content-locales {
    width: 100%;
    padding: 20px 0px 20px;
    border-right: 5px dotted #935B3E;
    /*border-left: 5px dotted #935B3E;*/
    /*FLEX*/
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.content-locales:nth-last-child(1) {
    border-right: none;
}

.column-locales h2 {
    width: 80%;
    padding: 5px;
    margin: 10px;
    background-color: #935B3E;
    border-radius: 30px;
    color: white;
    font-size: 2rem;
}

.content-locales iframe {
    margin-top: 20px;
}


/*ATRIBUTOS DEL PIE DE PAGINA*/

footer {
    background-color: #935B3E;
    width: 100%;
    padding: 20px 0 20px;
    margin-top: 40px;
    text-align: center;
    /*FLEX*/
    display: flex;
    justify-content: space-around;
}

footer p {
    color: white;
    font-size: 0.9rem;
}

.fab {
    color: white;
    padding: 5px;
}


/*ANIMACION*/

@keyframes heartbeat {
    0% {
        transform: scale( .75);
    }
    20% {
        transform: scale( 1);
    }
    40% {
        transform: scale( .75);
    }
    60% {
        transform: scale( 1);
    }
    80% {
        transform: scale( .75);
    }
    100% {
        transform: scale( 1);
    }
}